DATABASE_URL=postgresql+psycopg://anvithayerneni@localhost:5432/ai_ecommerce_db
TEST_DATABASE_URL=postgresql+psycopg://username@localhost:5432/ai_ecommerce_test_db
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_DEPLOYMENT=

AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_API_KEY=
AZURE_SEARCH_INDEX=

